<h2 style="display:inline;"><%= t('messages.index.header') %></h2>
<%= render :partial => 'messages/message_nav' %>
<%- if @messages.empty? -%>
    <h3 class="blankslate"><%= t('messages.index.no_messages') %></h3>
<%- else -%>
    <%= will_paginate(@messages, :renderer => BootstrapPaginationHelper::LinkRenderer) %>
    <ul class="list messages full">
      <%= render :partial => '/messages/message', :collection => @messages, :locals => {:short => true} %>
    </ul>
    <div style='clear:both;'></div>
    <%= will_paginate(@messages, :renderer => BootstrapPaginationHelper::LinkRenderer) %>
<%- end -%>
