<b> Fee plan </b>
<p> Name: <%= fee_plan.name %> </p>
<p> Description: <%= fee_plan.description %> </p>
<p> Event: <%= fee_plan.event %> </p>
<p> Type: <%= fee_plan.pay_type %> </p>
<p> Amount: <%= fee_plan.amount %> </p>

