<b> Fee plan </b>
<% unless fee_plan.blank? %>
	<p> Name: <%= fee_plan.name %> </p>
	<p> Description: <%= fee_plan.description %> </p>
	<% unless fee_plan.fees.blank? %>
		<b> Fees in this plan: </b>
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<th> Event </th>
				<th> Type </th>
				<th> Amount </th>
				<th> Account </th>
			</thead>
			<tbody>
				<% fee_plan.fees.each do |fee| %>
					<tr>
						<td> <%= fee.event %> </td>
						<td> <%= fee.fee_type %> </td>
						<td> <%= fee.amount %> </td>
						<td> <%= fee.account %> </td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% else %>
		<p> Your plan does not have any fees. </p>
	<% end %>
<% else %>
	<p> You don't have any fee plan assigned. </p>
<% end %>

